<h1 style="display: inline; position: relative; top: 20px; left: calc(50% - 350px);">Login</h1>

<div id="login">
    <h3 class="lin-sup-standard">Username:</h3>
    <input class="lin-sup-input" id="login-username" type="text">

    <h3 class="lin-sup-standard">Password:</h3>
    <input class="lin-sup-input" id="login-password" type="password">

    <div style="display: flex; justify-content: space-between;">
        <button class="button" id="login-button">Login</button>
        <div style="margin-right: 25px;">
            <p>No account? <a href="/signup">Signup here</a>
            </p>
        </div>
    </div>
</div>

<script src="/js/login.js"></script>