<h1 style="display: inline; position: relative; top: 20px; left: calc(50% - 350px);">Login</h1>

<div id="login">
    <h3 class="login-standard">Username:</h3>
    <input class="login-input" id="login-username" type="text">

    <h3 class="login-standard">Password:</h3>
    <input class="login-input" id="login-password" type="password">

    <button class="button">Login</button>
</div>