<h1 style="display: inline; position: relative; top: 20px; left: calc(50% - 350px);">Signup</h1>

<div id="login">
    <h3 class="lin-sup-standard">Username:</h3>
    <input class="lin-sup-input" id="signup-username" type="text">

    <h3 class="lin-sup-standard">Password:</h3>
    <input class="lin-sup-input" id="signup-password" type="password">

    <div style="display: flex; justify-content: space-between;">
        <button class="button" id="login-button">Signup</button>
        <p style="margin-right: 20px;">No account? 
            <a href="/signup">Signup here</a>
        </p>
    </div>
</div>

<script src="/js/signup.js"></script>